<% if @article.nil? %>
  <h1>This Article is not found!</h1>
<% else %>
  <h1><%= @article.title %></h1>

  <p><%= @article.body %></p>
<% end %>

<%= form_with url: "/articles/search", method: :get do |form| %>
  <%= form.label :name, "Search for:" %>
  <%= form.text_field :name %>
  <%= form.submit "Search by name" %>
<% end %>
