<% if @item.nil? %>
  <h1>This Item is not found!</h1>
<% else %>
  <h1><%= @item.title %></h1>

  <p><%= @item.body %></p>
<% end %>

<%= form_with url: "/items/search", method: :get do |form| %>
  <%= form.label :name, "Search for:" %>
  <%= form.text_field :name %>
  <%= form.submit "Search by title" %>
<% end %>
